$primary-color: #333;
$secondary-color: #666;
$accent-color: #007bff;
$background-color: #f8f9fa;

* {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  // background-color: #007bff;
  justify-content: center;
  min-height: 80vh;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.sidebar {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
  // background-color: $primary-color;
  color: black;
 
  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
  }
  .sidebar-inner{
    width: 220px;
    height: 400px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;


    
  @media (max-width: 768px) {
    width: 100%;
    height: 200px;
    justify-content: center;
    padding: 8px;
  }

  .profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 95%;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .profile-pic {
      width: 60px;
      height: 60px;
      background-color: $secondary-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      margin-bottom: 10px;
    }

    .profile-name {
      font-size: 14px;
      margin-bottom: 5px;
    }

    .profile-time {
      font-size: 14px;
    }
  }

  .menu1{
    // background-color: #007bff;
    width: 40%;
    margin-bottom: 10px;
    i{
      font-size: 25px;
    }
    display: none;
    @media (max-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
    @media (max-width: 500px) {
      width: 70%;
    }
    i:hover{
      transform: scale(110%);
      padding: 8px;
      border-radius: 20px;
    }
  }

  .menu {
    width: 100%;
    @media (max-width: 768px) {
     display: none;
    }

    ul {
      list-style: none;

      li {
        margin: 10px 0;

        a {
          color: black;
          text-decoration: none;
          display: flex;
          justify-content: space-between;
          padding: 10px;
          border-radius: 4px;
          transition: background-color 0.3s;

          &:hover {
            background-color: $accent-color;
          }

          span {
            font-weight: bold;
          }
        }
      }
    }
  }
  }
}

.main-content {
  flex-grow: 1;
  padding: 20px;

  .section-profile {
    display: none;
    .main-content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .profile-details {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      position: relative;

      .edit-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 20px;
        cursor: pointer;
      }

      .profile-info {
        .info-row {
          display: flex;
          justify-content: space-between;
          padding: 10px 0;
          border-bottom: 1px solid $background-color;

          span:first-child {
            color: $secondary-color;
          }
        }
      }
    }
  }

  .active{
    display:block !important;
  }
}

.light-text {
  color: #666;
}


.editable-input{
  padding: 5px;
  width: 20% !important;
}

.main-content {
  .section-orders {
    display: none;
    flex-direction: column;
    .order-details {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      // background-color: #007BFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      .order-details-header {
        min-width: 300px;
        display: flex;
        justify-content: space-between;

        .header-item {
          display: inline-block;
          padding: 15px 20px;
          position: relative;
        }
        .header-item:after {
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          background: #000000;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }
        .header-item:hover:after,
        .header-item.active:after {
          width: 100%;
          left: 0;
        }
      }

      .order-details-orders {
        display: flex;
        flex-direction: column;
        width: 100%;

        // background-color: red;
        .order-card {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            border-bottom: 1px solid grey;
          }
          padding: 15px;
          display: flex;
          // background-color: red;
          justify-content: space-evenly;
          @media (max-width: 868px) {
            flex-direction: column;
          }
          .card-split-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            // background-color: #007bff;
            .item-list {
              display: flex;
              padding: 12px;
              justify-content: space-between;
              @media (max-width: 868px) {
                justify-content: space-around;
              }
            }
            img {
              height: 100px;
              width: 100px;
              object-fit: contain;
            }

            p {
              font-size: 18px;
            }

            @media (max-width: 1268px) {
              p {
                font-size: 12px;
              }
            }
          }
          .card-split-2 {
            // background-color: green;
            color: #666;
            display: flex;
            width: 50%;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            @media (max-width: 868px) {
              width: 100%;
            }
            .card-split-2-top {
              width: 50%;
              div {
                display: flex;
                justify-content: space-around;
              }
              @media (max-width: 868px) {
                width: 100%;
              }
            }
            .card-split-2-bottom {
              width: 50%;
              display: flex;
              justify-content: space-around;
              @media (max-width: 868px) {
                width: 100%;
              }
            }
            h2 {
              font-weight: normal;
              font-size: large;
            }
            h1 {
              font-size: xx-large;
              font-weight: normal;
            }
            @media (max-width: 1268px) {
              h2 {
                font-weight: normal;
                font-size: medium;
              }
              h1 {
                font-size: x-large;
                font-weight: normal;
              }
            }
          }
        }
      }
    }
  }

  .active{
    display: flex;
  }
}

.main-content{

  .section-changepassword{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    .input-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      text-align: left;
      
      label {
          display: block;
          margin-bottom: 0.5rem;
          font-size: 0.9rem;
          color: #666;
      }
  
      input{
          width: 50%;
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 1rem;
      }

      .update-button {
        width: 25%;
        display: block;
        padding: 0.4rem;
        background: #000;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.8rem;
    }
    }
  }
  .active{
    display: flex;
  }
}



$button-background-color: #e74c3c;  // Red color
$button-text-color: #ffffff;  // White text color
$button-padding: 10px 20px;
$button-border-radius: 4px;

// Button style
.red-button {
  display: block;
  padding: $button-padding;
  background-color: $button-background-color;
  color: $button-text-color;
  border: none;
  margin-top: 3%;
  padding: 2%;
  max-width: 100px !important;
  border-radius: $button-border-radius;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($button-background-color, 10%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1); // Example focus style
  }

  &:active {
    transform: translateY(1px);
  }
}